<section class="row components">
	<div class="gr-12">

		{{#if components.readmeContent}}
			<div class="tf vr m-b-big" id="readme-content">
				{{{ components.readmeContent }}}
			</div>
		{{else}}
			<h1 class="h1 m-b">
				{{components.title}}
			</h1>
		{{/if}}


		{{#if components.metas.todo}}
			<h2 class="h2 m-b">Todo</h2>
			<ul class="ul m-b-big">
				{{#each components.metas.todo}}
					<li class="li">{{ this }}</li>
				{{/each}}
			</ul>
		{{/if}}

		<div class="components__metas">
			<div class="row row-align-middle">
				<div class="gr-adapt">
					<div class="components__metas-item component__metas-item--status">
						{{#if components.metas.status}}
							Status&nbsp;
							{{#ifCond components.metas.status '===' 'start'}}
								<span class="relative">
									<i class="c-error fa fa-circle"></i>
									<span class="tooltip tooltip--secondary">Start</span>
								</span>
							{{/ifCond}}
							{{#ifCond components.metas.status '===' 'in-progress'}}
								<span class="relative">
									<i class="c-warning fa fa-circle"></i>
									<span class="tooltip tooltip--secondary">In progress</span>
								</span>
							{{/ifCond}}
							{{#ifCond components.metas.status '===' 'ready'}}
								<span class="relative">
									<i class="c-success fa fa-circle"></i>
									<span class="tooltip tooltip--secondary">Ready</span>
								</span>
							{{/ifCond}}
						{{/if}}
					</div>
				</div>
				<div class="gr-grow"></div>
				<div class="gr-adapt">
					<div class="components__metas-item component__metas-item--contributors">
						{{#each components.metas.contributors}}
							<figure class="gravatar relative" style="font-size:2em">
								<a href="mailto:{{ this.email }}">
									<img src="{{gravatarUrl this.email }}" class="gravatar__img" title="{{this.name}}" alt="{{this.name}}" />
								</a>
								<div class="tooltip tooltip--secondary" style="font-size:.5em">
									{{this.name}}
								</div>
							</figure>
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		{{#if components.viewContent}}
			<a href="#component-view-content" class="toggle-code" is="s-activate" save-state toggle>
				<i class="fa fa-code"></i> Show/hide view source code
			</a>
			<div class="components__view-data" id="component-view-content">
				<pre id="view-content">
					<code class="lang-html">
						{{ components.viewContent }}
					</code>
				</pre>
			</div>
		{{/if}}

		{{#if components.schemaJsonContent}}
			<a href="#component-schema-json-content" class="toggle-code" is="s-activate" save-state toggle>
				<i class="fa fa-code"></i> Show/hide JSON schema
			</a>
			<div class="components__schema-json" id="component-schema-json-content">
				<pre id="schema-json-content">
					<code class="lang-json">
						{{ components.schemaJsonContent }}
					</code>
				</pre>
			</div>
		{{/if}}

		<script>
			function resizeIframe(obj) {
				obj.style.height = obj.contentWindow.document.body.scrollHeight + 40 + 'px';
			}
		</script>

		{{#eachSorted components.variants}}

			<div class="components__separator"></div>

			<h2 class="h2 m-b t-capitalize">{{this.value.title}}</h2>

			<div class="components__iframe-wrapper"
				id="view-variant-{{sanitizeAttribute this.key}}-iframe-wrapper"
			>
				<iframe width="100%"
					height="{{#if ../components.metas.height}}
							{{../components.metas.heightm}}
						{{else}}
							1
						{{/if}}
					"
					srcdoc="
						{{{ htmlspecialchars this.value.view }}}
						{{#each ../components.inject.styles}}
							<link rel=&quot;stylesheet&quot; href={{{this}}} />
						{{/each}}
						{{#each ../components.inject.scripts}}
							<script src={{{this}}}></script>
						{{/each}}
						<style>
							body {
								padding: 20px;
							}
						</style>
					"
					onload="resizeIframe(this)"
					id="view-variant-{{sanitizeAttribute this.key}}"
				></iframe>
				<a href="#view-variant-{{sanitizeAttribute this.key}}-iframe-wrapper"
					class="components__iframe-wrapper-fullscreen"
					is="s-activate"
					toggle
				>
					<i class="fa fa-arrows-alt"></i>
				</a>
			</div>

			{{#if this.value.dataContent}}
				<a href="#components-data-{{sanitizeAttribute this.key}}" class="toggle-code" is="s-activate" save-state toggle>
					<i class="fa fa-code"></i> Show/hide view data
				</a>
				<div class="components__data-content" id="components-data-{{sanitizeAttribute this.key}}">
					<pre id="data-variant-{{sanitizeAttribute this.key}}">
						<code class="lang-js">
							{{{ this.value.dataContent }}}
						</code>
					</pre>
				</div>
			{{/if}}
		{{/eachSorted}}
	</div>
</section>
