<!doctype html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<div class="topbar">
		<div class="row row-align-middle auto-height">
			<div class="gr-adapt auto-height nowrap topbar__logo">
				<a href="/">
					{{#if logo}}
						<img style="width:100px; max-height:30px;" class="inline-block" src="/{{logo}}" />
					{{else}}
						<div style="width:80px;" class="coffeekraken-logo"></div>
					{{/if}}
				</a>
			</div>
			<div class="gr-adapt">
				<h1 class="h5" style="color:white">
					{{title}}
					{{#if packageJson.version}}
						<span class="small">{{packageJson.version}}</span>
					{{/if}}
				</h1>
			</div>
			<div class="gr-grow">
			</div>
			<div class="gr-adapt">
				<ul class="nav nav--topbar">
					{{#if packageJson.homepage}}
						<li class="nav__item">
							<a href="{{packageJson.homepage}}" title="Go to website" target="_blank">
								<i class="fa fa-globe"></i>&nbsp;&nbsp;Website
							</a>
						</li>
					{{/if}}
					{{#if packageJson.repository}}
						<li class="nav__item">
							<a href="{{packageJson.repository.url}}" title="Repository" target="_blank">
								<i class="fa fa-github"></i>&nbsp;&nbsp;Repository
							</a>
						</li>
					{{/if}}
				</ul>
			</div>
		</div>
	</div>
	<div color="primary" class="sidebar">
		<!-- <header class="sidebar__header">
			<h1 class="h5 m-b-small">
				{{title}}
			</h1>
			<p class="p p--lead">
				{{packageJson.description}}
			</p>
		</header> -->
		{{#if styleguide.all}}
			<a href="#sidebar-styleguide" save-state="localStorage" toggle="true" history="false" class="h6 sidebar__separator bkg-primary" is="s-activate" id="sidebar-styleguide">
				<s-ripple></s-ripple>
				Styleguide
				<i class="fa fa-caret-down pull-right"></i>
				<i class="fa fa-caret-up pull-right"></i>
			</a>
			<ul class="list list--menu m-b">
				{{#each styleguide.all}}
					<li class="list__item">
						<a href="styleguide-{{@key}}"
							class="list__item--toggle"
							is="s-activate"
							id="styleguide-{{@key}}"
							save-state="localStorage" toggle="true" history="false" prevent-scroll>
							{{{@key}}}
							<i class="fa fa-plus pull-right" style="font-size:8px;"></i>
							<i class="fa fa-minus pull-right" style="font-size:8px;"></i>
							<s-ripple></s-ripple>
						</a>
						<ul class="list list--submenu">
							{{#each this}}
								<li class="list__item">
									<a href="/styleguide/{{@../key}}#{{@key}}">
										{{{@key}}}
										<s-ripple></s-ripple>
									</a>

								</li>
							{{/each}}
						</ul>
					</li>
				{{/each}}
			</ul>
		{{/if}}
		{{#if documentation}}
			<a href="#sidebar-doc" save-state="localStorage" toggle="true" history="false" class="h6 sidebar__separator" is="s-activate" id="sidebar-doc">
				<s-ripple></s-ripple>
				Documentation
				<i class="fa fa-caret-down pull-right"></i>
				<i class="fa fa-caret-up pull-right"></i>
			</a>
			{{{threeMenu documentation.three request.url}}}
		{{/if}}
	</div>
	<section class="content" data-in-viewport-container>

		{{{body}}}

		<footer class="footer">
			<div class="row">
				<div class="gr-6">
					<section class="copy s-small">
						<div class="m-b-smaller">
							Powered by <a class="link" href="http://github.com/coffeekraken/carpenter" title="Carpenter from Coffeekraken" target="_blank">Carpenter</a> from <a class="link" href="http://coffeekraken.io" title="Coffeekraken" target="_blank">Coffeekraken</a>
						</div>
						<div>
							Shipped with love under <a class="link" href="https://opensource.org/licenses/MIT" title="MIT License" target="_blank">MIT License</a>
						</div>
					<section>
				</div>
				<div class="gr-6 t-right">
					<a href="http://coffeekraken.io" title="Coffeekraken" target="_blank">
						<div style="width:70px; opacity:.4" class="coffeekraken-logo"></div>
					</a>
				</div>
			</div>
		</footer>

	</section>

	<script src="/assets/js/app.js"></script>

</body>
</html>
