<!doctype html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<div class="topbar">
		<div class="row row-align-middle auto-height">
			<div class="gr-adapt auto-height nowrap topbar__logo">
				<a href="/">
					{{#if logo}}
						<img style="height:25px;" class="inline-block" src="/{{logo}}" />
					{{else}}
						<div style="width:80px;" class="coffeekraken-logo coffeekraken-logo--white"></div>
					{{/if}}
				</a>
			</div>
			<div class="gr-adapt">
				<h1 class="h5" style="color:white">
					{{title}}
					{{#if packageJson.version}}
						<span class="small">{{packageJson.version}}</span>
					{{/if}}
				</h1>
			</div>
			<div class="gr-grow" style="font-size:11px">
				<select is="s-select" name="search" onchange="document.location.href = this.value">
					<option value="/">Search...</option>
					{{#if components.three}}
						<optgroup label="Components">
							{{#eachSorted components.three}}
								{{#eachSorted this.value}}
									<option value="/components/{{../key}}/{{key}}">{{cleanTitle ../key}}/{{cleanTitle key}}</option>
								{{/eachSorted}}
							{{/eachSorted}}
						</optgroup>
					{{/if}}
					{{#if styleguide.all}}
						<optgroup label="Styleguide">
							{{#eachSorted styleguide.all}}
								{{#eachSorted this.value}}
									<option value="/styleguide/{{../key}}/{{key}}">{{cleanTitle ../key}}/{{cleanTitle key}}</option>
								{{/eachSorted}}
							{{/eachSorted}}
						</optgroup>
					{{/if}}
					{{#if documentation.three}}
						<optgroup label="documentation">
							{{{optionsMenu documentation.three request.url}}}
						</optgroup>
					{{/if}}
				</select>
			</div>
			<div class="gr-adapt">
				<ul class="nav nav--topbar">
					{{#if packageJson.description}}
						<li class="nav__item">
							<s-dialog>
								<a class="nav__link" href="#description" title="Description" target="_blank">
									<i class="fa fa-info-circle"></i>&nbsp;&nbsp;About
								</a>
							</s-dialog>
							<div class="hidden">
								<div id="description">
									<figure class="ratio-5-1">
										<img class="abs-cover" src="/assets/img/header-bkg.jpg" />
										<div style="width:150px; position:absolute; top:50%; left:40px; transform:translateY(-50%); max-width:none;">
											{{#if logo}}
												<img style="height:45px;" class="inline-block" src="/{{logo}}" />
											{{else}}
												<a href="http://coffeekraken.io" title="Coffeekraken.io" target="_blank">
													<div style="width:150px; max-width:none;" class="coffeekraken-logo coffeekraken-logo--dialog"></div>
												</a>
											{{/if}}
										</div>
									</figure>
									<div class="p-bigger">

										<h1 class="h3 m-b">
											{{title}}
											{{#if packageJson.version}}
												<span class="small">{{packageJson.version}}</span>
											{{/if}}
										</h1>
										<p class="p p--lead m-b-big">
											{{packageJson.description}}
										</p>

										{{#if packageJson.homepage}}
											<a href="{{packageJson.homepage}}" class="btn m-r-small" target="_blank">
												<i class="fa fa-globe"></i>&nbsp;&nbsp;Go to website
											</a>
										{{/if}}
										{{#if packageJson.repository}}
											<a href="{{packageJson.repository.url}}" class="btn m-r-small" target="_blank">
												<i class="fa fa-github"></i>&nbsp;&nbsp;View repository
											</a>
										{{/if}}
										<a class="btn btn--primary" s-dialog-ok>
											Close
										</a>
										<ul class="list list--contributors m-b p-l pull-right">
											{{#each packageJson.contributors}}
											<li class="list__item relative">
												<a class="block" href="{{this.url}}" title="{{this.name}}" target="_blank">
													<img src="{{this.gravatar}}" />
												</a>
												<div class="tooltip tooltip--secondary tooltip--t">
													{{this.name}}
												</div>
											</li>
											{{/each}}
										</ul>
									</div>
								</div>
							</div>
						</li>
					{{/if}}
					{{#if packageJson.homepage}}
						<li class="nav__item">
							<a href="{{packageJson.homepage}}" title="Go to website" target="_blank">
								<i class="fa fa-globe"></i>&nbsp;&nbsp;Website
							</a>
						</li>
					{{/if}}
					{{#if packageJson.repository}}
						<li class="nav__item">
							<a href="{{packageJson.repository.url}}" title="Repository" target="_blank">
								<i class="fa fa-github"></i>&nbsp;&nbsp;Repository
							</a>
						</li>
					{{/if}}
				</ul>
			</div>
		</div>
	</div>
	<div class="sidebar">
		{{#if components.three}}
			<a href="#sidebar-components" save-state="localStorage" toggle class="h6 sidebar__separator bkg-primary" is="s-activate" id="sidebar-components">
				<s-ripple></s-ripple>
				Components
				<i class="fa fa-caret-down pull-right"></i>
				<i class="fa fa-caret-up pull-right"></i>
			</a>
			<ul class="list list--menu m-b">
				{{#eachSorted components.three}}
					<li class="list__item">
						<a href="components-{{key}}"
							class="list__item--toggle"
							is="s-activate"
							id="components-{{key}}"
							save-state="localStorage" toggle>
							{{{key}}}
							<i class="fa fa-plus pull-right" style="font-size:8px;"></i>
							<i class="fa fa-minus pull-right" style="font-size:8px;"></i>
							<s-ripple></s-ripple>
						</a>
						<ul class="list list--submenu">
							{{#eachSorted this.value}}
								<li class="list__item">
									<a href="/components/{{../key}}/{{key}}">
										{{{cleanTitle key}}}
										<s-ripple></s-ripple>
									</a>
								</li>
							{{/eachSorted}}
						</ul>
					</li>
				{{/eachSorted}}
			</ul>
		{{/if}}
		{{#if styleguide.all}}
			<a href="#sidebar-styleguide" save-state="localStorage" toggle class="h6 sidebar__separator bkg-primary" is="s-activate" id="sidebar-styleguide">
				<s-ripple></s-ripple>
				Styleguide
				<i class="fa fa-caret-down pull-right"></i>
				<i class="fa fa-caret-up pull-right"></i>
			</a>
			<ul class="list list--menu m-b">
				{{#eachSorted styleguide.all}}
					<li class="list__item">
						<a href="styleguide-{{key}}"
							class="list__item--toggle"
							is="s-activate"
							id="styleguide-{{key}}"
							save-state="localStorage" toggle>
							{{{key}}}
							<i class="fa fa-plus pull-right" style="font-size:8px;"></i>
							<i class="fa fa-minus pull-right" style="font-size:8px;"></i>
							<s-ripple></s-ripple>
						</a>
						<ul class="list list--submenu">
							{{#eachSorted this.value}}
								<li class="list__item">
									<a href="/styleguide/{{../key}}/{{key}}">
										{{{key}}}
										<s-ripple></s-ripple>
									</a>

								</li>
							{{/eachSorted}}
						</ul>
					</li>
				{{/eachSorted}}
			</ul>
		{{/if}}
		{{#if documentation}}
			<a href="#sidebar-doc" save-state="localStorage" toggle="true" history="false" class="h6 sidebar__separator" is="s-activate" id="sidebar-doc">
				<s-ripple></s-ripple>
				Documentation
				<i class="fa fa-caret-down pull-right"></i>
				<i class="fa fa-caret-up pull-right"></i>
			</a>
			{{{threeMenu documentation.three request.url}}}
		{{/if}}
	</div>
	<section class="content" data-in-viewport-container>

		{{{body}}}

		<footer class="footer">
			<div class="row">
				<div class="gr-6">
					<section class="copy s-small">
						<div class="m-b-smaller">
							Powered by <a class="link" href="http://github.com/coffeekraken/carpenter" title="Carpenter from Coffeekraken" target="_blank">Carpenter</a> from <a class="link" href="http://coffeekraken.io" title="Coffeekraken" target="_blank">Coffeekraken</a>
						</div>
						<div>
							Shipped with love under <a class="link" href="https://opensource.org/licenses/MIT" title="MIT License" target="_blank">MIT License</a>
						</div>
					<section>
				</div>
				<div class="gr-6 t-right">
					<a href="http://coffeekraken.io" title="Coffeekraken" target="_blank">
						<div style="width:70px; opacity:.4" class="coffeekraken-logo"></div>
					</a>
				</div>
			</div>
		</footer>

	</section>

	<script src="/assets/js/app.js"></script>

</body>
</html>
